.pridi-regular {
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}
